.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 800px;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}
.app-wrapper-content {
    grid-area: c;
    background-color: lemonchiffon;
    padding: 8px;
}
.app-wrapper-content img{
    width: 700px;
    height: 190px;
    padding: 3px;
}
